@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: white;

  /* background: rgb(190, 18, 60);
  background: radial-gradient(
    circle,
    rgba(190, 18, 60, 1) 0%,
    rgba(63, 14, 39, 0.7) 50%,
    rgba(1, 14, 54, 1) 100%
  ); */
}

.grad {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right,gray, white);
}


.flexx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: rgba( 35, 35, 35, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}
